body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    margin: auto;
    padding: 0;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.5;
    color: black;
}

#main {
    margin: 30px 8px;
    padding: 15px;
    border-radius: 5px;
    background: #eee;
}

#main #title {
    padding: 50px;
}

#img-div {
    background-color: white;
}

#img-div #image {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}

li {
    margin: 16px 0;
}

ul {
    max-width: 550px;
    margin: 50 auto 50px auto;
    text-align: center;
    line-height: 1.6;
}

@media (max-width: 600px){
#main {
    width:100%;
    }
}